.categories {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  position: sticky;
  top: 150px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.catLink {
  text-decoration: none;
  color: #414141;
  font-size: 1rem;
  font-weight: 200;
}

.active {
  font-weight: 600;
}
