.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.9rem;
  font-weight: 300;
}

.itemImg {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemImg img {
  max-width: 100%;
  max-height: 100%;
}

.itemName {
  height: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.shopItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemAction {
  display: flex;
  gap: 10px;
}

.itemQty {
  height: 25px;
  display: flex;
}

.qtyInput {
  width: 1.5rem;
  text-align: center;
  z-index: -1;
}

.qtyBtn,
.buyBtn {
  background-color: #5b5b5b;
  color: white;
  border: none;
}

.qtyBtn {
  width: 20px;
}

.qtyBtn.leftBtn {
  border-radius: 3px 0 0 3px;
  margin-right: -3px;
}

.qtyBtn.rightBtn {
  border-radius: 0px 3px 3px 0px;
  margin-left: -3px;
}

.qtyBtn:hover,
.buyBtn:hover {
  cursor: pointer;
}

.buyBtn {
  border-radius: 3px;
}
